#### 1.("Hello World")
Print above Hello World

####

In [2]:
"Hello World"

'Hello World'

#### 2.This example misses indentations to be correct.

Insert the missing indentation to make the code correct:


if 5 > 2:

print("Five is greater than two!")

In [6]:
if 5>2:

IndentationError: expected an indented block (3317150810.py, line 1)

#### 3.Comments in Python are written with a special character, which one?

This is a comment - correct this statement to make it comment line
#hint - use the symbol to comment the line

In [ ]:
# comment

#### 4.Use a multiline string to make the a multi line comment:

This is a comment
written in 
more that just one line

In [ ]:
This is a comment 
written in 
more that just one line

SyntaxError: invalid syntax (263635029.py, line 1)

#### 5.Create a variable named carname and assign the value Ferrari to it.

In [8]:
car = "Ferrari"

#### 6.Create a variable named x and assign the value 50 to it.

In [9]:
X = 50

#### 7.Display the sum of 5 + 10, using two variables: x and y.
   
x= ?
y = 10
print(x ? y)

In [90]:
x = 5
y = 10
print(x + y)

15

#### 8. The following code example would print the data type of x, what data type would that be?
x = "Hello World"
print(type(x))

In [23]:
x= "Hello World"
print(type(x))

<class 'str'>

#### 9.The following code example would print the data type of x, what data type would that be?
print(type(x))

In [ ]:
# error - x value unsassigned

#### 10.The following code example would print the data type of x, what data type would that be?
x = True
print(type(x))

In [28]:
x = True
print(type(x))

<class 'bool'>

#### 11.Print the second item in the fruits list.

fruits = ["apple", "banana", "cherry"]

print()

In [31]:
fruits =["apple","banana",'cherry']
print(fruits[2])

cherry

#### 12.Use the remove method to remove "banana" from the fruits list.
fruits = ["apple", "banana", "cherry"]

In [87]:
fruits =["apple","banana",'cherry']

In [89]:
fruits.remove("banana")

print(fruits)

['apple', 'cherry']

In [88]:
fruits

['apple', 'banana', 'cherry']

#### 13.Use a range of indexes to print the third, fourth, and fifth item in the tuple.


fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")


print(fruits[
])

In [69]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[3:6])

('orange', 'kiwi', 'melon')

#### 14.Add the key/value pair "color" : "red" to the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [60]:
car = { "brand": "Ford", "model": "Mustang", "year": 1964,"color" : "red" }

#### 15.Use the get method to print the value of the "model" key of the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


print(
)

#hint get()

In [62]:
car = { "brand": "Ford", "model": "Mustang", "year": 1964 }

In [75]:
x = car.get("model")

#### 15.Loop through the items in the fruits list.
fruits = ["apple", "banana", "cherry"]

? x ? fruits ?

fruits
print(x)

In [73]:
fruits = ["apple", "banana", "cherry"]

In [74]:
for x in fruits:
  print(x)

apple
banana
cherry

#### 16.Use the range function to loop through a code set 6 times.


for x in 
:
print(x)

#### 17.Insert the correct Pandas method to create a DataFrame.

data =[2,4,6,8,'a']


pd. ? (data)

#import pandas

#create dataframe

#### 18.Insert the correct syntax to return the first row of a DataFrame.


df. ?[?]

#### 19.Insert the correct syntax for loading CSV files into a DataFrame.


df.? (data)

#### 20.Insert the correct syntax for loading a Python dictionary called "data" into a DataFrame.


pd. ? (data)

$try showing an example creating a dictionary

In [72]:
import pandas as pd
data = pd.DataFrame({
    "empno":[1234,4356,9999],
    "name":['santosh', 'test1','test2']
    "tech":['AI','pyhton','java']
})
print(data)

SyntaxError: invalid syntax (3635979210.py, line 5)